---
import '../styles/global.css';
// Component Imports
import ProjectCard from "@/components/ProjectCard";
import ProfileSection from "@/components/ProfileSection";
import MainLayout from "@/layouts/MainLayout.astro";

// Content loading
import {type CollectionEntry, getCollection} from 'astro:content';
import {Contact} from "@/lib/Contact.ts";
import {Button} from '@/components/ui/button';
import GitHubIcon from "@/components/icons/GitHubIcon.tsx";
import LinkedInIcon from "@/components/icons/LinkedInIcon.tsx";

const projects: CollectionEntry<'projects'>[] = (await getCollection('projects')).sort(
    // Sort by most recent creation date
    (a, b) => b.data.created_at.localeCompare(a.data.created_at)
);

const iconMap = {
    github: GitHubIcon,
    linkedin: LinkedInIcon,
};

const skills = [
    "TypeScript",
    "C# / .Net 9",
    "Vue.js",
    "Angular",
    "Docker",
];
---

<MainLayout title="Portfolio Home">
    <div class="pt-5 min-h-screen max-w-11/12 m-auto gap-3">
        <h1 class="text-5xl text-center font-bold text-primary">Welcome to My Portfolio</h1>

        <ProfileSection title="About me" id="about">
            <p>Hi im Yannick, im a looking to become a Full-stack developer, im passionate about programming.</p>
            <p>Currently I'm creating some projects to upgrade my portfolio.</p>

            <h3 class="font-bold text-2xl pt-5">Skills</h3>
            <p>A list of some of my skills</p>
            <ul class="flex flex-row gap-3 justify-center py-5">
                {skills.map(skills => (
                        <li class="rounded-3xl bg-accent px-5 py-3">{skills}</li>
                ))}
            </ul>
            <p></p>
        </ProfileSection>

        <ProfileSection title="Projects" id="projects">
            <p>An overview of my projects filtered on creation date.</p>
            <div class="grid grid-cols-1 gap-5 mt-10 md:grid-cols-2">
                {projects.map(project => (
                        <ProjectCard project={project.data} className="text-left"/>
                ))}
            </div>
        </ProfileSection>

        <ProfileSection title="Contact" id="contact">
            <p>If you want to get in touch, feel free to reach out via LinkedIn or GitHub!</p>
            <div class="flex flex-row mt-5 gap-5 justify-center">
                {Contact.map(contact => {
                    const IconComponent = iconMap[contact.icon as keyof typeof iconMap];
                    return (
                            <Button>
                                <a href={contact.url} target="_blank"
                                   class="flex items-center gap-2">
                                    {contact.name}
                                    {IconComponent &&
                                            <IconComponent className="w-5 h-5"/>}
                                </a>
                            </Button>
                    )
                })}
            </div>

        </ProfileSection>
    </div>
</MainLayout>
