---
import '../styles/global.css';
// Component Imports
import ProjectCard from "@/components/ProjectCard";
import ProfileSection from "@/components/ProfileSection";
import MainLayout from "@/layouts/MainLayout.astro";
import {type CollectionEntry, getCollection} from 'astro:content';
import {Contact} from "@/lib/Contact.ts";
import {buttonVariants} from '@/components/ui/button';
import GitHubIcon from "@/components/icons/GitHubIcon.tsx";
import LinkedInIcon from "@/components/icons/LinkedInIcon.tsx";
import {DownloadIcon} from "lucide-react";
import {cn} from "@/lib/utils.ts";
import SkillCategories, {type Category} from "@/components/SkillCategories.tsx";
import TypeScriptIcon from "@/components/icons/TypeScriptIcon.tsx";
import PythonIcon from "@/components/icons/PythonIcon.tsx";

const projects: CollectionEntry<'projects'>[] = (await getCollection('projects')).sort(
    // Sort by most recent creation date
    (a, b) => b.data.created_at.localeCompare(a.data.created_at)
);

const iconMap = {
    github: GitHubIcon,
    linkedin: LinkedInIcon,
};

const skillIconMap = {
    typescript: TypeScriptIcon,
    python: PythonIcon,
    // Add other icons here, e.g., vue: VueIcon
};

const skillCategories: Category[] = [
    {
        title: "Languages",
        skills: [{name: "C#"}, {
            name: "JavaScript/TypeScript",
            iconId: "typescript"
        }, {name: "Python", iconId: "python"}, {name: "HTML"}, {name: "CSS"}]
    }, {
        title: "Frameworks/Libraries",
        skills: [{name: "React"}, {name: "Vue.js"}, {name: "Angular"}, {name: ".Net"}, {name: "Astro"}]
    }, {
        title: "Databases",
        skills: [{name: "PostgreSQL"}, {name: "MySQL"}]
    }, {
        title: "Tools/Platforms",
        skills: [{name: "Docker"}, {name: "Git"}, {name: "GitHub"}]
    }, {
        title: "Methodologies",
        skills: [{name: "Scrum"}, {name: "Agile"}]
    },
];
---

<MainLayout title="Portfolio Home">
    <div class="pt-5 min-h-screen max-w-11/12 m-auto gap-3">
        <h1 class="text-5xl text-center font-bold text-primary">Welcome to My Portfolio</h1>

        <ProfileSection title="About me" id="about">
            <p class="max-w-8/12 m-auto">
                Hi I'm Yannick, I'm based in Ghent. I'm looking to become a Full-stack developer,
                I'm very passionate about programming and solving complex problems.
                Currently I'm deepening my knowledge in React by creating some projects to upgrade my portfolio.
            </p>

            <a href="/Yannick-Resume.pdf" download
               class={cn(buttonVariants(), "mt-5 bg-sky-600 dark:bg-sky-300 hover:bg-sky-700 dark:hover:bg-sky-400")}>
                Download Resume/CV
                <DownloadIcon className="size-6"/>
            </a>

            <h3 class="font-bold text-2xl pt-5">Skills</h3>
            <ul class="m-auto max-w-8/12">
                <SkillCategories categories={skillCategories} iconMap={skillIconMap}/>
            </ul>
        </ProfileSection>

        <ProfileSection title="Projects" id="projects">
            <p>An overview of my projects filtered on creation date.</p>
            <div class="grid grid-cols-1 gap-5 mt-10 md:grid-cols-2">
                {projects.map(project => (
                        <ProjectCard project={project.data} className="text-left"/>
                ))}
            </div>
        </ProfileSection>

        <ProfileSection title="Contact" id="contact">
            <p>If you want to get in touch, feel free to reach out via LinkedIn or GitHub!</p>
            <div class="flex flex-row mt-5 gap-5 justify-center">
                {Contact.map(contact => {
                    const IconComponent = iconMap[contact.icon as keyof typeof iconMap];
                    return (
                            <a href={contact.url} target="_blank"
                               class={buttonVariants()}>
                                {contact.name}
                                {IconComponent &&
                                        <IconComponent className="size-5"/>}
                            </a>
                    )
                })}
            </div>

        </ProfileSection>
    </div>
</MainLayout>
