---
import {type CollectionEntry, getCollection, render} from 'astro:content';
import MainLayout from "@/layouts/MainLayout.astro";
import {Button} from "@/components/ui/button.tsx";
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
    const project: CollectionEntry<'projects'>[] = await getCollection('projects');
    return project.map(post => ({
        params: {id: post.id},
        props: {post},
    }));
}
// 2. For your template, you can get the entry directly from the prop
const {post: project} = Astro.props;
const {Content} = await render(project);
---

<MainLayout title={project.data.title}>
    <div class="flex flex-col items-center pt-5 min-h-screen gap-3">
        <h1 class="text-3xl font-bold text-primary">{project.data.title}</h1>
        <p class="text-sm text-gray-500">Created at: {new Date(project.data.created_at).toLocaleDateString()}</p>

        <Button>
            <a href={project.data.link} target="_blank">View project on GitHub</a>
        </Button>

        <div class="prose max-w-none mt-5">
            <Content/>
        </div>
    </div>
</MainLayout>