---
import {type CollectionEntry, getCollection, render} from 'astro:content';
import MainLayout from "@/layouts/MainLayout.astro";
import {Button} from "@/components/ui/button.tsx";
import {ArrowLeftIcon} from "lucide-react"
import {GitHubIcon} from "@/components/icons/Icons.tsx";

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
    const project: CollectionEntry<'projects'>[] = await getCollection('projects');
    return project.map(post => ({
        params: {id: post.id},
        props: {post},
    }));
}
// 2. For your template, you can get the entry directly from the prop
const {post: project} = Astro.props;
const {Content} = await render(project);
---

<MainLayout title={project.data.title}>
    <div class="m-4 flex flex-row justify-between">
        <Button>
            <a href={import.meta.env.BASE_URL + "/#projects"} class="flex flex-row gap-0">
                <ArrowLeftIcon className={"mt-1 mr-1"}/>
                <span>Back</span>
            </a>
        </Button>
        <Button>
            <a href={project.data.link} class="" target="_blank">
                <span>View project on GitHub</span>
                <GitHubIcon className="inline mx-1 mb-1" size={32}/>
            </a>
        </Button>
    </div>
    <div class="max-w-8/12 mx-auto">
        <h1 class="text-3xl font-bold text-fuchsia-700 dark:text-fuchsia-400">{project.data.title}</h1>
        <p class="text-sm text-gray-400 dark:text-gray-400 italic">Created on:
            {new Date(project.data.created_at).toLocaleDateString()}</p>

        <div class="prose my-4">
            <Content/>
        </div>
    </div>
</MainLayout>
